<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Algoritmo Dijkstra.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Algoritmo de Floyd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Backtracking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Examen Segundo Parcial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Kruskal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Mochila - Backtracking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Mochila.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MochilaBB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Multiplicación Encadenada de Matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Multiplicación encadenada de matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Programas Clase de Algoritmos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Reto#3 Practica -  Minimum Add to Make Parentheses Valid Greedy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Reto#3 Practica - Greedy Florist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Reto#3 Practica - Matrix Block Sum DP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Reto#3 Practica - Reducing Dishes DP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Reto#3 Practica - Split a String in Balanced Strings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Reto#3 Practica Matrix Block Sum DP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Reto#3 Split a String in Balanced Strings Greedy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Simulacion #3 Backtraking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Simulacion #3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Tar10– Sum in a Triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Tarea 08- Audiophobia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tarea 09- CuttingSticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
